body {
    text-align: center;
}

#container {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#container>div>div {
    width: 100px;
    height: 100px;
    border: 2px dashed green;
    display: flex;
    justify-content: center;
    align-items: center;
}

#vincitore {
    font-size: larger;
    font-weight: 700;
    margin-top: 2rem;
}